{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <div class="row" ng-app="LivroApp">
        <div class="col-12 col-md-8 offset-md-2 py-5" ng-controller="UsuarioController as Usuario">
            <h2>Criar Usuário</h2>
            <form action="{{ path('app_usuario_create') }}" method="POST">
                <div class="form-group">
                    <label>Nome:</label>
                    <input name="nome" type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Sexo:</label>
                    <select name="sexo" class="form-control" required>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Data de Nascimento:</label>
                    <input name="nascimento" type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>CEP:</label>
                    <input name="cep" type="text" class="form-control" ng-model="cep" ng-keyup="getCep(cep)" maxlength="9" required>
                </div>

                <div class="form-group">
                    <label>Logradouro:</label>
                    <input class="form-control" ng-value="data.logradouro">
                </div>

                <div class="form-group">
                    <label>Bairro:</label>
                    <input class="form-control" ng-value="data.bairro">
                </div>

                <div class="form-group">
                    <label>Complemento:</label>
                    <input class="form-control" ng-value="data.complemento">
                </div>

                <div class="form-group">
                    <label>UF:</label>
                    <input class="form-control" ng-value="data.uf">
                </div>

                <div class="form-group">
                    <label>CPF:</label>
                    <input name="cpf" type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Contato:</label>
                    <input name="contato" type="text" class="form-control" required>
                </div>

                <button type="submit" name="_token" value="{{ csrf_token('token') }}" class="btn btn-block btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
{% endblock %}